.text-content h1 {
    padding: 7px 300px; 
    font-weight: bold;
}
.text-content h5 {
    padding: 7px 300px;
}

.formTitle {
    padding-left: 25em!important;
    padding-right: 25em!important;
    padding-top: 4em!important;
}

.formTitle h1 {
    font-weight: 700;
    color: black;
}

.changeDetails {
    padding-left: 25em!important;
    padding-right: 25em!important;
    padding-bottom: 3em!important;
}


.form-group {
    padding: 0.2em!important;
}

.form-check {
    padding-top: 0.9rem!important;
    padding-bottom: 0.6rem!important;
    padding-left: 0.5rem!important;

}

@media screen and (max-width: 768px) {
    .text-content h1 {
        padding-left: 15%!important;
        padding-right: 15%!important;
    }
    .text-content h5 {
        padding-left: 15%;
        padding-right: 15%;
    }
}
